@font-face {
    font-family: 'Cafe24 Decoline';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decoline/Cafe24Decoline.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decoline/Cafe24Decoline.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/Cafe24Decoline/Cafe24Decoline.ttf') format('truetype');
}
